<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <div class="user" *ngIf="auth.user$ | async as user">
      <h1>Welcome</h1>
      <p>{{user.email}}</p>
    </div>
    <div class="unlock-app ion-text-center" *ngIf="canUnlock" (click)="unlock()">
      <ion-icon name="lock-open-outline"></ion-icon>
      <div>Unlock</div>
    </div>

    <div class="unlock-mode">
      Current Unlock Mode: {{vault.unlockMode}}
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="!canUnlock">
  <ion-toolbar>
    <ion-button
      *ngIf="!hasSession"
      id="signin-button"
      expand="full"
      (click)="signIn()"
      >Sign In
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>
    <ion-button
      *ngIf="hasSession"
      id="signout-button"
      expand="full"
      (click)="signOut()"
      >Sign Out
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
